body{
    background: url(../snapShots/battleship-background.jpg);
    background-size: cover;
}
.header {
    color: #ffffff;
    padding: 15px;
}

#no-select{
    -webkit-user-select: none;
    cursor: not-allowed;
    pointer-events: none;
}  

.footer {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

[alt~=logo] {
    height: 300px;
    margin-left: 550px;
    margin-top: -200px;
}

[class~=p5Canvas] {
    margin-left: 330px;
}

#time {
    color:#3399cc;
    font-family:Arial;
    font-size:40px;
    left:50%;
    top:80px;
    margin-left:-100px;
    width:200px;
    height:50px;
    text-align:center;
    line-height:50px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    margin-left: 1700px;
    margin-top: 150px;
}
#stopwatch {
    left:50%;
    margin-left:-100px;
    border:2px solid #3399cc;
    -webkit-border-radius:200px;
    margin-left: 1700px;
    margin-top: -125px;
}
#reset {
    width:50px;
}

[id~=reset] {
    height: 40px;
    width: 10%;
}